<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="CONNECTION_STRING_DB" value="SERVER=127.0.0.1;DATABASE=hafifot;UID=root;PASSWORD=root;"/>
    <add key="CREDIT_CARD_ERROR" value="The credit card number is not valid"/>
    <add key="INSTALLMENTS_ERROR" value="Installments' amount is over the limit"/>
    <add key="PURCHASE_DATE_CLOSE_STORE_ERROR" value="Purchase was made on a day that the store is closed"/>
    <add key="PRICE_PER_INSTALLMENT_ERROR" value="Price per installment cant be higher than 5000"/>
    <add key="PURCHASE_DATE_LATER_THAN_NOW_ERROR" value="The purchase date cant be in the future"/>
    <add key="QUEUE_NAME" value="TEST"/>
    <add key="EXPECTED_DATE_FORMAT" value="yyyy-MM-dd"/>
    <add key="EXPECTED_PRICE_FORMAT" value="{0:0.0}"/>
    <add key="STORE_ID_FORMAT" value="^[A-F][A-D]\d{5}"/>
    
    <add key="STORE_ID_FIELD" value="store_id"/>
    <add key="CREDIT_CARD_FIELD" value="credit_card"/>
    <add key="STORE_TYPE_FIELD" value="store_type"/>
    <add key="ACTIVITY_DAYS_FIELD" value="activity_days"/>
    <add key="PURCHASE_DATE_FIELD" value="purchase_date"/>
    <add key="TOTAL_PRICE_FIELD" value="total_price"/>
    <add key="INSERTION_DATE_FIELD" value="insertion_date"/>
    <add key="INSTALLMENTS_FIELD" value= "installments"/>
    <add key="PRICE_PER_INSTALLMENT_FIELD" value="price_per_installment"/>
    <add key="IS_VALID_FIELD" value="is_valid"/>
    <add key="WHY_INVALID_FIELD" value="why invalid"/>
  </appSettings>
</configuration>