<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="CONNECTION_STRING_DB" value="SERVER=127.0.0.1;DATABASE=hafifot;UID=root;PASSWORD=root;"/>
    <add key="CREDIT_CARD_ERROR" value="The credit card number is not valid"/>
    <add key="INSTALLMENTS_ERROR" value="Installments' amount is over the limit"/>
    <add key="PURCHASE_DATE_CLOSE_STORE_ERROR" value="Purchase was made on a day that the store is closed"/>
    <add key="PRICE_PER_INSTALLMENT_ERROR" value="Price per installment cant be higher than 5000"/>
    <add key="PURCHASE_DATE_LATER_THAN_NOW_ERROR" value="Purchase date is later than insertion date"/>
    <add key="QUEUE_NAME" value="TEST"/>
    <add key="EXPECTED_DATE_FORMAT" value="yyyy-MM-dd"/>
    <add key="EXPECTED_PRICE_FORMAT" value="{0:0.0}"/>
  </appSettings>
</configuration>